<div class="col-10 offset-1 about_text">
  <h1>About Splurty</h1>

    <p>
    Splurty was built by <a target="_blank" href="https://github.com/jslack2537">Charles</a>. A web developer looking to forward his career in application development.
  </p>
  <br />
  <p>
   He attended Vanderbilt University Codin Boot Camp to learn more professional skills
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

 <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Charles Slack</h2>
      <br />
      <p>
        Charles Slack is a web developer and Information Technology Compliance Officer. He has worked on a team of individuals that created a HIPAA compliant Electronic Healthcare Record.  He currently works for a non-profit organzation supporting and updating the forementioned EHR. 
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>
